{% extends "../base.html" %}
{% load mezzanine_tags keyword_tags %}
{% block main %}
    <div class="single-page-container">
        <div class="single" style="width: 70%;">
            <div class="podcast">
                <h2>
                {% block title %}
                    {% editable page.title %}{{ page.title }}{% endeditable %}
                {% endblock %}
                </h2>
                {% block meta_title %}{{ page.meta_title }}{% endblock %}

                {% block meta_keywords %}{% metablock %}
                    {% keywords_for page as keywords %}
                    {% for keyword in keywords %}
                        {% if not forloop.first %}, {% endif %}
                        {{ keyword }}
                    {% endfor %}
                {% endmetablock %}{% endblock %}

                {% block meta_description %}{% metablock %}
                    {{ page.description }}
                {% endmetablock %}{% endblock %}


            </div>
        </div>
        {% include "includes/sidebar.html" %}
    </div>
{% endblock %}