{% load mezzanine_tags %}
<nav class=" mobile-only navbar navbar-expand-lg navbar-light navbar-podcast">
{#  <a class="navbar-brand" href="#">Navbar</a>#}

            <div class="logo-heading-container">
                <div class="simbolo-podcast">
                  <div class="elipse"></div>
                  <div class="elipse"></div>
                  <div class="elipse"></div>
                </div>

                <div class="logo-heading">
                    <small>Podcast</small>
                    <h1>A Matemática do Cérebro</h1>
                </div>
            </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mobile-menu-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li><a href="/">Home</a></li>
        {% for page in page_branch %}
            {% if page.in_menu %}
            <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

      {% block navbar_search_form %}
        {% search_form %}
      {% endblock %}

  </div>
</nav>