{% load pages_tags mezzanine_tags i18n  %}

<div class="nav-container">
    <nav class="global-navigation desktop-only">
        <ul>
            <li><a href="/">Home</a></li>
            {% for page in page_branch %}
                {% if page.in_menu %}
                    <li> <a href="{{ page.get_absolute_url }}">{{ page.title }}</a> </li>
                {% endif %}
            {% endfor %}
             <li><a href="http://feeds.soundcloud.com/users/soundcloud:users:668777594/sounds.rss" target="_blank">Assinar / RSS</a></li>
        </ul>
        {% block navbar_search_form %}
            {% search_form %}
        {% endblock %}
    </nav>
</div>
