{% load pages_tags mezzanine_tags blog_extras i18n  %}

<div class="nav-container">
    <nav class="global-navigation desktop-only" style="position:relative;">
        <ul>
            <li><a href="/">Home</a></li>
            {% for page in page_branch %}
                {% if page.in_menu %}
                    {% if page.title != 'Compatibilidade' %}
                    <li> <a href="{{ page.get_absolute_url }}">{{ page.title }}</a> </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <li>
                <a style="cursor: pointer" id="shareBoxTrigger">Assinar / RSS</a>
                <div id="shareBox" class="share-box">
                    <h3>
                        Assinar
                        <button id="shareBoxCloseBtn" type="button" class="close" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </h3>
                    <div class="share-box-container">
                        {% autoescape off %}
                         {% podcast_channels  %}
                        {% endautoescape %}
                    </div>
                    <div class="secondary-platforms">
                        <p>Outras plataformas</p>
                        <div class="secondary-platform-item">
                            <div class="platform-sec-icon">
                                <i class="fa fa-rss"></i>
                            </div>
                            <a title="Assinando com Rhythmbox" href="/pages/compatibilidade">Rhythmbox</a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        {% block navbar_search_form %}
            {% search_form %}
        {% endblock %}



    </nav>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#shareBoxTrigger').click(function(){
            $('#shareBox').toggleClass('active');
        });

        $('#shareBoxCloseBtn').click(() => {
            $('#shareBox').removeClass('active');
        })




    });
</script>



