<style>
    .instituicao-frame.fapesp{
        background-image: url("{{ MEDIA_URL }}/fapesp_logo.png");
        -webkit-background-size: 100% !important;
        background-size: 100% !important;
    }

    .instituicao-frame.usp{
        background-image: url("{{ MEDIA_URL }}/usp_logo.png");
        -webkit-background-size: 50% !important;
        background-size: 50% !important;
    }
</style>

<footer>
    <a class="neuromat-logo mobile-only" href="https://neuromat.numec.prp.usp.br" target="_blank"><span>Neuro</span><span>Mat</span></a>
    <div class="container-footer">
        <div class="instituicao-frame fapesp">
            <span>Apoio:</span>
        </div>

        <div class="instituicao-frame usp"></div>
    </div>
</footer>