<style>
    .instituicao-frame.fapesp{
        background-image: url("{{ MEDIA_URL }}/fapesp_logo.png");
    }

    .instituicao-frame.usp{
        background-image: url("{{ MEDIA_URL }}/usp_logo.png");
        -webkit-background-size: 50% !important;
        background-size: 50% !important;
    }
</style>

<footer>

    <div class="container-footer">

        <div class="instituicao-frame fapesp">
            <span>Apoio:</span>
        </div>

        <div class="instituicao-frame usp"></div>
    </div>
</footer>