<style>
    .instituicao-frame.fapesp{
        background-image: url("{{ MEDIA_URL }}/fapesp_logo.png");
    }

    .instituicao-frame.usp{
        background-image: url("{{ MEDIA_URL }}/usp_logo.png");
        -webkit-background-size: 50% !important;
        background-size: 50% !important;
    }
</style>

<footer>
    <div class="container">
        <div class="instituicao-frame fapesp">
            <span>Apoiado pela</span>
        </div>

        <div class="instituicao-frame usp">
            <span>Localizado na</span>
        </div>
    </div>
</footer>