{% load pages_tags mezzanine_tags i18n staticfiles %}

    <header class="desktop-only">
        <div class="main-header-content">
            <div class="logo-heading-container">
                <div class="simbolo-podcast">
                  <div class="elipse"></div>
                  <div class="elipse"></div>
                  <div class="elipse"></div>
                </div>

                <div class="logo-heading">
                    <small>Podcast</small>
                    <h1>A Matemática do Cérebro</h1>
                </div>
            </div>

            <a class="neuromat-logo" href="https://neuromat.numec.prp.usp.br" target="_blank"><span>Neuro</span><span>Mat</span></a>
{#            <div id="searchBtn" class="search-box">#}
{#                <i class="fas fa-search"></i>#}
{#                <span>#}
{#                Busque por um Podcast#}
{#            </span>#}
            </div>
        </div>
    </header>
<div class="desktop-only">
    {% page_menu "pages/menus/primary.html" %}
</div>
