{% load pages_tags mezzanine_tags i18n staticfiles %}

    <header class="desktop-only">
        <div class="main-header-content">
            <div class="logo-heading-container">
                <div class="simbolo-podcast">
                  <div class="elipse"></div>
                  <div class="elipse"></div>
                  <div class="elipse"></div>
                </div>
                <div class="logo-header">
                    <img src="{{ STATIC_URL }}/img/logo_podcast.png" alt="" />
                </div>
            </div>
            <a class="neuromat-logo" href="https://neuromat.numec.prp.usp.br" target="_blank"><span>Neuro</span><span>Mat</span></a>
            </div>
        </div>
    </header>
<div class="desktop-only">
    {% page_menu "pages/menus/primary.html" %}
</div>
