{% load blog_extras %}

<div class="sidebar">
    <div class="podcast-feed"><!-- Recent Posts -->
        {% load blog_tags keyword_tags i18n %}
        {% blog_recent_posts 5 as recent_posts %}
        {% if recent_posts %}
            <h3>{% trans "Recentes" %}</h3>
            {% for recent_post in recent_posts %}
                <!-- item -->
                <div class="podcast-feed-item">
                    <a class="podcast-feed-thumb" href="{{ recent_post.get_absolute_url }}" style="background-image:url('{{ MEDIA_URL }}{{ recent_post.featured_image }}')"></a>
                    <div class="podcast-feed-info">

                        <h2>
                            <a href="{{ recent_post.get_absolute_url }}">{{ recent_post.title }}</a>
                        </h2>
                        {# <p>{% postShortExcerpt recent_post.description %}</p>#}
                    </div>
                    <div class="podcast-feed-plat-links">
                        <ul class="podcast-avaiablein-list">
                            <li><a href="#"><i class="fab fa-spotify"></i></a></li>
                            <li><a href="#"><i class="fab fa-itunes"></i></a></li>
                            <li><a href="https://soundcloud.com/a-matematica-do-cerebro"><i class="fab fa-soundcloud"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- / item -->
            {% endfor %}
        {% endif %}
    </div><!-- Recent Posts -->
</div>