        <div class="sidebar">

    <!-- REPRESENTAÇÃO MODELO MODIFICADO PROPOSTO -->
        <div class="podcast-feed">

            <!-- item -->
            <div class="podcast-feed-item">
                <a class="podcast-feed-thumb" href="#" style="background-image:url('{{ MEDIA_URL }}{{ blog_post.featured_image }}')"></a>
                <div class="podcast-feed-info">

                        <h2>
                            <a href="#">Titulo</a>
                        </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda et harum..</p>
                </div>
                <div class="podcast-feed-plat-links">
                    <ul class="podcast-avaiablein-list">
                        <li><a href="#"><i class="fab fa-spotify"></i></a></li>
                        <li><a href="#"><i class="fab fa-itunes"></i></a></li>
                        <li><a href="#"><i class="fas fa-play"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- / item -->

            <!-- item -->
            <div class="podcast-feed-item">
                <a class="podcast-feed-thumb" href="#" style="background-image:url('{{ MEDIA_URL }}{{ blog_post.featured_image }}')"></a>
                <div class="podcast-feed-info">

                        <h2>
                            <a href="#">Titulo</a>
                        </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda et harum..</p>
                </div>
                <div class="podcast-feed-plat-links">
                    <ul class="podcast-avaiablein-list">
                        <li><a href="#"><i class="fab fa-spotify"></i></a></li>
                        <li><a href="#"><i class="fab fa-itunes"></i></a></li>
                        <li><a href="#"><i class="fas fa-play"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- / item -->

            <!-- item -->
            <div class="podcast-feed-item">
                <a class="podcast-feed-thumb" href="#" style="background-image:url('{{ MEDIA_URL }}{{ blog_post.featured_image }}')"></a>
                <div class="podcast-feed-info">

                        <h2>
                            <a href="#">Titulo</a>
                        </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto assumenda et harum..</p>
                </div>
                <div class="podcast-feed-plat-links">
                    <ul class="podcast-avaiablein-list">
                        <li><a href="#"><i class="fab fa-spotify"></i></a></li>
                        <li><a href="#"><i class="fab fa-itunes"></i></a></li>
                        <li><a href="#"><i class="fas fa-play"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- / item -->

        </div>

        </div>