        <div class="sidebar">
          <ul class="podcast-sidebar-feed">
            <li class="post-item">
              <h3>Neurocast Ep. 1</h3>
              <ul class="podcast-avaiablein-list">
                <li><a href="#"><i class="fab fa-spotify"></i></a></li>
                <li><a href="#"><i class="fab fa-itunes"></i></a></li>
                <li><a href="#"><i class="fas fa-play"></i></a></li>
              </ul>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis optio aperi</p>
            </li>
            <li class="post-item">
              <h3>Neurocast Ep. 1</h3>
              <ul class="podcast-avaiablein-list">
                <li><a href="#"><i class="fab fa-spotify"></i></a></li>
                <li><a href="#"><i class="fab fa-itunes"></i></a></li>
                <li><a href="#"><i class="fas fa-play"></i></a></li>
              </ul>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis optio aperi</p>
            </li>
            <li class="post-item">
              <h3>Neurocast Ep. 1</h3>
              <ul class="podcast-avaiablein-list">
                <li><a href="#"><i class="fab fa-spotify"></i></a></li>
                <li><a href="#"><i class="fab fa-itunes"></i></a></li>
                <li><a href="#"><i class="fas fa-play"></i></a></li>
              </ul>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis optio aperi</p>
            </li>
          </ul>
        </div>