{% extends "../base.html" %}
{% load i18n mezzanine_tags blog_tags pages_tags keyword_tags disqus_tags %}


{% load blog_extras %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Blog" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
    {% keywords_for page as keywords %}
    {% for keyword in keywords %}
        {% if not forloop.first %}, {% endif %}
        {{ keyword }}
    {% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
    {{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
    {% if page %}
        {% editable page.title %}{{ page.title }}{% endeditable %}
    {% else %}
        {% trans "Blog" %}
    {% endif %}
{% endblock %}

{% block breadcrumb_menu %}
    {{ block.super }}
    {% if tag or category or year or month or author %}
        <li>{% spaceless %}
            {% if tag %}
                {% trans "Tag:" %} {{ tag }}
                {% else %}{% if category %}
                    {% trans "Category:" %} {{ category }}
                    {% else %}{% if year or month %}
                        {% if month %}{{ month }}, {% endif %}{{ year }}
                        {% else %}{% if author %}
                            {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
                        {% endif %}{% endif %}{% endif %}{% endif %}
        {% endspaceless %}
        </li>
    {% endif %}
{% endblock %}

{% block main %}

    {% if tag or category or year or month or author %}
        {% block blog_post_list_filterinfo %}
            <p>
            {% if tag %}
                {% trans "Viewing posts tagged" %} {{ tag }}
                {% else %}{% if category %}
                    {% trans "Viewing posts for the category" %} {{ category }}
                    {% else %}{% if year or month %}
                        {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
                        {{ year }}
                        {% else %}{% if author %}
                            {% trans "Viewing posts by" %}
                            {{ author.get_full_name|default:author.username }}
                        {% endif %}{% endif %}{% endif %}{% endif %}
        {% endblock %}
    </p>
    {% else %}
        {% if page %}
            {% block blog_post_list_pagecontent %}
                {% if page.get_content_model.content %}
                    {% editable page.get_content_model.content %}
                        {{ page.get_content_model.content|richtext_filters }}
                    {% endeditable %}
                {% endif %}
            {% endblock %}
        {% endif %}
    {% endif %}

    <h2 class="titulo-sessao titulo-sessao--home">Episódios Recentes</h2>
    <div class="podcast-feed">
    {% for blog_post in blog_posts.object_list %}
        <!-- item -->
        <div class="podcast-feed-item {% if blog_posts.object_list.count <= 1 %} singlecase {% endif %}">
            <a class="podcast-feed-thumb" href="{{ blog_post.get_absolute_url }}" style="background-image:url('{{ MEDIA_URL }}{{ blog_post.featured_image }}')"></a>
            <div class="podcast-feed-info">
                {% editable blog_post.title %}
                    <h2>
                        <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                    </h2>
                {% endeditable %}

                {% block blog_post_list_post_content %}
                    {% editable blog_post.content %}
                        {% autoescape off %}
                            {% if blog_posts.object_list.count <= 1 %}
                                {% postLargeExcerpt blog_post.content %}
                            {% else %}
                                {% postExcerpt blog_post.content %}
                            {% endif %}
                        {% endautoescape off %}
                    {% endeditable %}
                {% endblock %}
            </div>
            <div class="podcast-feed-plat-links">
                <ul class="podcast-avaiablein-list">
                    <li><a href="#"><i class="fab fa-spotify"></i></a></li>
                    <li><a href="#"><i class="fab fa-itunes"></i></a></li>
                    <li><a href="https://soundcloud.com/a-matematica-do-cerebro" target="_blank"><i class="fab fa-soundcloud"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- / item -->
        {% endfor %}
    </div>

    <div style="display:none" class="podcast-container {% if blog_posts.object_list.count <= 3 %} singlecase {% endif %}" style="">
        {% for blog_post in blog_posts.object_list %}
            <div class="podcast">
                <a class="podcast-thumbnail" href="{{ blog_post.get_absolute_url }}" style="background-image:url('{{ MEDIA_URL }}{{ blog_post.featured_image }}')"></a>
                <div class="podcast-info">
                    {% block blog_post_list_post_title %}
                        {% editable blog_post.title %}
                            <h2>
                                <a href="{{ blog_post.get_absolute_url }}">{{ blog_post.title }}</a>
                            </h2>
                        {% endeditable %}
                        <ul class="podcast-avaiablein-list">
                            <li><a href="#"><i class="fab fa-spotify"></i></a></li>
                            <li><a href="#"><i class="fab fa-itunes"></i></a></li>
                            <li><a href="#"><i class="fas fa-play"></i></a></li>
                        </ul>
                        <p>
{#                            {% block blog_post_list_post_content %}#}
{#                                {% editable blog_post.content %}#}
{#                                    {% autoescape off %}#}
{#                                        {% postExcerpt blog_post.content %}#}
{#                                    {% endautoescape off %}#}
{#                                    {{ blog_post.description_from_content|safe }}#}
{#                                {% endeditable %}#}
{#                            {% endblock %}#}
                        </p>
                    {% endblock %}
                </div>
            </div>
        {% endfor %} {#  END LOOP #}
    </div>

    {% pagination_for blog_posts %}

    {% if settings.COMMENTS_DISQUS_SHORTNAME %}
        {% include "generic/includes/disqus_counts.html" %}
    {% endif %}

{% endblock %}

{% block right_panel %}
    {% include "blog/includes/filter_panel.html" %}
{% endblock %}
